* {
    margin: 0; padding: 0;
}

html, body {
    width: 100%; height: 100%;
}

body {
    font: small verdana, arial, sans;
}

#mainWrapper {
    margin: 1em;
}

div.field {
    margin: 0.3em 0;
    padding: 0.3em 0;
}

div.field.odd {
    background: #eee;
}
div.field.even {
    background: #ddd;
}

div.field label {
    position: relative;
    width: 20em;
}

div.field ul.checkbox {
    clear: both;
    min-height: 1em;
    padding: 0.2em 0;
}

div.field ul.checkbox li {
    list-style: none;
    float: left;
    margin-right: 1em;
}

.error {
    color: red;
    font-weight: bold;
}

div.field label.fixedSize {
    display: block;
    float: left;
    width: 20em;
}

div.field .trackers {
    list-style-position: inside;
}

p.startHidden {
    display: none;
}